<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 
		<span class="c-gray en">&gt;</span> 管理员管理 
		<span class="c-gray en">&gt;</span> 修改个人密码 
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
			<i class="Hui-iconfont">&#xe68f;</i>
		</a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
	<form action="javascript:;" method="post" class="form form-horizontal" id="demoform">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">登陆名：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<span>{$username}</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>旧密码：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="password" class="input-text" value="" placeholder="" id="oldpass" name="oldpass">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="password" class="input-text" value="" placeholder="" id="password" name="password">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-4">
				<input type="password" class="input-text" value="" placeholder="" id="repassword" name="repassword">
			</div>
		</div>

		<div class="row cl">
			<div class="col-xs-4 col-sm-4 col-xs-offset-2 col-sm-offset-2">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;" id="submit">
			</div>
		</div>
	</form>
</article>
	</div>
</section>

  <script>
    $(function(){

      $("#demoform").validate({
        rules: {
          oldpass:{
            required: true
          },
          password:{
            required: true
          },
          repassword:{
            required: true,
            equalTo: "#password"
          }
        },
		onkeyup:false,
		focusInvalid:true,
		success:"valid",
        submitHandler:function(form){
        	/*发送ajax*/
			$.ajax({
				'url'	: '{:url("admin/AjaxApi/re_password")}',
				'type'	: 'post',
				'data'	: $('form').serializeArray(),
				'dataType' : 'json',
				'timeout'	: 10000,
				'beforeSend': function(XHR){
					$('#demoform').find('input').attr('readonly',true);
					$('#submit').attr('disabled',true).val('正在登陆...');
		    	},
				'success'  : function(res){
					if( res.code != 10000 ){
						layer.msg(res.msg,{icon: 5,time:1000});
						return false;
					}
					
					var FUNC=[
						function() {
							layer.msg('修改成功，请重新登陆', {icon:1,time:3000});
							aniCB();
						},
						function() {
							setInterval(function(){
		                        $(location).attr('href', '{:url("admin/login/index")}');
							},1000);
						}
					];  

					var aniCB=function() {  
						$(document).dequeue("myAnimation");  
					}  
					$(document).queue("myAnimation",FUNC);  
					aniCB();
				},
				
		    	'complete'	:function(){    			
					$('#submit').attr('disabled',false).val('修改');
					$('#demoform').find('input').attr('readonly',false);

		    	},
		    	'error'		: function(XMLHttpRequest, textStatus, errorThrown){
		    		switch(textStatus){
		    			case 'timeout':
		    				layer.msg('连接超时，请检查网络', {icon: 2,time:1500});
		    				break;
		    			case 'error':
		    				layer.msg(textStatus, {icon: 2,time:1500});
		    				break;
		    			default:
		    				layer.msg('出错啦，请联系管理员处理！', {icon: 2,time:2000});
		    				break;
		    		}
		    	}
			});

        }
      });
    });
 </script>