

<title>工资总览 - 工资管理 - H-ui.admin v3.0</title>


<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		工资管理
		<span class="c-gray en">&gt;</span>
		工资总览 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c"> 日期范围：
				<input type="text" onfocus="" id="datemin" class="input-text Wdate" style="width:120px;">
				-
				<input type="text" onfocus="" id="datemax" class="input-text Wdate" style="width:120px;">
				<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="">
				<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="r">共有数据：<strong>54</strong> 条</span>
			</div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="10">全部工资</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th>成员</th>
						<th>工资总额</th>
						<th>参与单子数</th>
						<th>起始日期</th>
						<th>截止日期</th>
						<th>天数</th>
					</tr>
				</thead>
				<tbody>
				{foreach $salary as $s}
					<tr class="text-c">
						<td><input type="checkbox" value="1" name=""></td>
						<td>{$s.nickname}</td>
						<td> ￥ {$s.salary}</td>
						<td>{$s.count}</td>
						<td>{:date('Y-m-d',$s.min)}</td>
						<td>{:date('Y-m-d',$s.max)}</td>
						<td>{$s.max/86400-$s.min/86400 + 1}</td>
					</tr>
				{/foreach}					
				</tbody>
			</table>
		</article>
	</div>
</section>

<script type="text/javascript">

</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>