<title>工资总览 - 工资管理 - H-ui.admin v3.0</title>
<link rel="stylesheet" type="text/css" href="/lib/My97DatePicker/4.8/skin/WdatePicker.css" />

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		工资管理
		<span class="c-gray en">&gt;</span>
		工资总览 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c"> 日期范围：
				<input type="text" id="datemin" name="datemin" class="input-text Wdate" autocomplete="off" style="width:120px;" value="{:date('Y-m-d',$datemin)}">
				-
				<input type="text" id="datemax" name="datemax" class="input-text Wdate" autocomplete="off" style="width:120px;" value="{:date('Y-m-d',$datemax)}">
				<input type="text" class="input-text" style="width:250px" placeholder="输入需要查询的成员名称"autocomplete="off" name="member" value="{$member}" id="member">
				<button type="button" class="btn btn-success" id="lookup" name=""><i class="Hui-iconfont">&#xe665;</i> 搜 索</button>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="r">共有数据：<strong>{:count($salary)}</strong> 条</span>
			</div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="10">全部工资</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th>成员</th>
						<th>工资总额</th>
						<th>参与单子数</th>
						<th>起始日期</th>
						<th>截止日期</th>
						<th>天数</th>
					</tr>
				</thead>
				<tbody>
				{foreach $salary as $s}
					<tr class="text-c">
						<td><input type="checkbox" value="1" name=""></td>
						<td>{$s.nickname}</td>
						<td> ￥ {$s.salary}</td>
						<td>{$s.count}</td>
						<td>{:date('Y-m-d',$s.min)}</td>
						<td>{:date('Y-m-d',$s.max)}</td>
						<td>{$s.max/86400-$s.min/86400 + 1}</td>
					</tr>
				{/foreach}					
				</tbody>
			</table>
		</article>
	</div>
</section>
<script src="/static/admin/js/laydate.js"></script>
<script type="text/javascript">
	//执行一个laydate实例
	var month = new Date();
	laydate.render({
	  elem: '#datemin', //指定元素
	  max: 0
	});
	var month = new Date();
	laydate.render({
	  elem: '#datemax', //指定元素
	  max: 0
	});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>