<title>L-uo.ying.单子管理</title>
<link rel="stylesheet" type="text/css" href="/lib/My97DatePicker/4.8/skin/WdatePicker.css" />
<style type="text/css">

</style>
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		单子管理
		<span class="c-gray en">&gt;</span>
		单子列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a> </nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c"> 日期范围：
				<input type="text" id="datemin" name="datemin" class="input-text Wdate" autocomplete="off" style="width:120px;" value="{:date('Y-m-d',$datemin)}">
				-
				<input type="text" id="datemax" name="datemax" class="input-text Wdate" autocomplete="off" style="width:120px;" value="{:date('Y-m-d',$datemax)}">
				<input type="text" class="input-text" style="width:250px" placeholder="输入需要查询的区、服、老板信息"autocomplete="off" name="areainfo" value="{$areainfo}" id="areainfo">
				<button type="button" class="btn btn-success" id="lookup" name=""><i class="Hui-iconfont">&#xe665;</i> 搜 索</button>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l"> 
					<a href="javascript:;" onclick="down('下载单子表','{:url(\'admin/order/edit\')}')" class="btn btn-danger radius">下载单子表</a> 
					<a href="{:url('admin/order/add')}" class="btn btn-primary radius">
						<i class="Hui-iconfont">&#xe600;</i> 添加单子
					</a> 
				</span>
				<span class="r">共有数据：<strong>{$order_total}</strong> 条</span>
			</div>
			<table class="table table-border table-bordered table-bg table-hover">
				<thead>
					<tr>
						<td scope="col" colspan="3">
							<span class="select-box">
								<select class="select" size="1" name="demo1" id="three_months">
									<option value="near_three_months" {if ($Request.param.datemin == '-0year-3month-0day')}selected{/if} >近三个月订单</option>
									<option value="thirty_days" {if ($Request.param.datemin == '-0year-1month-0day')}selected{/if}>近三十天</option>
									<option value="this_month" {if ($Request.param.datemin == date("Y-m-01",time()))}selected{/if}>本月</option>
									<option value="all" {if ($Request.param.datemin == '')}selected{/if}>全部</option>
								</select>
							</span>
						</td>
						<td scope="col" colspan="3">
							<span class="select-box">
								<select class="select" size="1" name="demo1" id="bonus_name">
									<option value="">选择提成人员</option>
									{foreach $bonus_memname as $v}
									<option value="{$v}" {if ($Request.param.bonus_name == $v)}selected{/if}>{$v}</option>
									{/foreach}
								</select>
							</span>
						</td>
						<td scope="col" colspan="2">
							<span class="select-box">
								<select class="select" size="1" name="demo1" id="person_name">
									<option value="">选择参与成员</option>
									{foreach $person_memname as $k=>$v}
									<option value="{$k}" {if ($Request.param.person_name == $k)}selected{/if}>{$v}</option>
									{/foreach}
								</select>
							</span>
						</td>
						<td scope="col" colspan="2">
							<span class="select-box">
								<select class="select" size="1" name="demo1" id="game_name">
									<option value="">选择副本</option>
									{foreach $game as $g}
										<option value="{$g.id}" disabled> ★--- {$g.name} ---</option>
										{if (isset($g.son) )}
										{foreach $g.son as $s}
										<option value="{$s.id}" {if ($Request.param.game_name == $s.id)}selected{/if}> &emsp; {$s.name}</option>
										{/foreach}
										{/if}
									{/foreach}
								</select>
							</span>
						</td>
						<td scope="col" colspan="2">
							<span class="select-box">
								<select class="select" size="1" name="demo1" id="status_name">
									<option value="">选择状态</option>
									<option value="1" {if ($Request.param.status_name == 1)}selected{/if}>已收款</option>
									<option value="2" {if ($Request.param.status_name == 2)}selected{/if}>未收款</option>
									<option value="3" {if ($Request.param.status_name == 3)}selected{/if}>工资已发放</option>
									<option value="4" {if ($Request.param.status_name == 4)}selected{/if}>工资未发放</option>
								</select>
							</span>
						</td>
					</tr>
					<tr class="text-c">
							<th>日期</th>
							<th>副本名称</th>
							<th>总金额</th>
							<th>提成人员</th>
							<th>提成金额</th>
							<th>人数</th>
							<th>成员</th>
							<th>平均工资</th>
							<th>区服</th>
							<th>老板</th>
							<th>是否付款</th>
							<th>收款,查看,删除</th>
						</tr>

				</thead>
				<tbody>
				{foreach $order as $o}
					<tr class="text-c">
						<td>{:date('Y-m-d',$o.date)}</td>
						<td>{$o.game_name}</td>
						<td> ￥ {$o.total}</td>
						<td>{$o.bonus_name}</td>
						<td> ￥ {$o.bonus_tot}</td>
						<td>{$o.member}</td>
						<td>{$o.person}</td>
						<td> ￥ {$o.salary}</td>
						<td>{$o.area}</td>
						<td>{$o.boss}</td>
						{if $o.received == 1}
						<td class="td-status"><span class="label label-success radius">已收款</span></td>
						<td class="td-manage">
							<a style="text-decoration:none" onClick="admin_stop(this,'{:url(\'admin/order/update\')}','{$o.id}')" href="javascript:;" title="未收款">
								<i class="Hui-iconfont">&#xe631;</i></a> 
							<a title="查看详情" href="javascript:;" class="ml-5" style="text-decoration:none"  onclick="particulars('详情查看','{:url(\'admin/order/read\',[\'id\'=>$o.id])}')">
								<i class="Hui-iconfont">&#xe725;</i></a>
							<a title="删除" href="javascript:;" onclick="admin_del(this,'{:url(\'admin/order/delete\')}','{$o.id}')" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
						{else}
						<td class="td-status"><span class="label label-default radius">未收款</span></td>
						<td class="td-manage">
							<a style="text-decoration:none" onClick="admin_start(this,'{:url(\'admin/order/update\')}','{$o.id}')" href="javascript:;" title="已收款">
								<i class="Hui-iconfont">&#xe615;</i></a> 
							<a title="查看详情" href="javascript:;" class="ml-5" style="text-decoration:none" onclick="particulars('详情查看','{:url(\'admin/order/read\',[\'id\'=>$o.id])}')">
								<i class="Hui-iconfont">&#xe725;</i></a>
							<a title="删除" href="javascript:;" onclick="admin_del(this,'{:url(\'admin/order/delete\')}','{$o.id}')" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6e2;</i></a>
						</td>
						{/if}
					</tr>
					{/foreach}	
				</tbody>
			</table>
				{$order->render()}
		</article>
	</div>
</section>
<script src="/static/admin/js/laydate.js"></script>
<script type="text/javascript">
$(function(){

	//执行一个laydate实例
	var month = new Date();
	laydate.render({
	  elem: '#datemin', //指定元素
	  max: 0
	});
	var month = new Date();
	laydate.render({
	  elem: '#datemax', //指定元素
	  max: 0
	});
});


/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/

/*单子-删除*/
function admin_del(obj,url,id){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		/*发送ajax*/
		$.ajax({
			'url'		: url,
			'type'		: 'post',
			'data'		: 'id=' + id,
			'dataType'	: 'json',
			'success'	: function(res){
				if( res.code != 10000 ){
					layer.msg(res.msg,{icon: 5,time:1000});
					return;
				}

				$(obj).parents("tr").remove();
				layer.msg(res.msg,{icon:1,time:1000});
				
			}
		});
	});
}

/*单子未收款*/
function admin_stop(obj,url,id){
	layer.confirm('还未付款吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		/*发送ajax*/
		$.ajax({
			'url'		: url,
			'type'		: 'post',
			'data'		: 'id=' + id + '&received=0',
			'dataType'	: 'json',
			'success'	: function(res){
				if( res.code == 10000 ){
					$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,\'{:url(\"admin/order/update\")}\',id)" href="javascript:;" title="未付款" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">未收款</span>');
					$(obj).remove();
					layer.msg('未收款!',{icon: 5,time:1000});
				}else{
					layer.msg(res.msg,{icon: 2,time:1000});
				}
			}
		});
	});
}

/*单子已收款*/
function admin_start(obj,url,id){
	layer.confirm('确认收到款了吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		/*发送ajax*/
		$.ajax({
			'url'	: url,
			'type'	: 'post',
			'data'	: 'id='+ id + '&received=1',
			'dataType' : 'json',
			'success':function(res){
				if(res.code == 10000){
					$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,\'{:url(\"admin/order/update\")}\',id)" href="javascript:;" title="已收款" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已收款</span>');
					$(obj).remove();
					layer.msg('已收款!', {icon: 6,time:1000});
				}else{
					layer.msg(res.msg, {icon: 2,time:1000});
				}
			}
		});
	});
}

/*详情查看*/
function particulars(title,url){
	layer_show(title,url);
}

/*详情查看*/
function down(title,url){
	layer_show(title,url);
}

$(function(){
/* 时间下拉菜单 */
$('#three_months').change(function(){
	
	if( $(this).val() == 'near_three_months' ){
		/*近三个月*/
		$(location).attr('href','{:url("admin/order/index","datemin=-0year-3month-0day" )}');
	}else if( $(this).val() == 'thirty_days' ){
		/*近三十天*/
		$(location).attr('href','{:url("admin/order/index","datemin=-0year-1month-0day" )}');
	}else if( $(this).val() == 'this_month' ){
		/*本月*/
		$(location).attr('href','{:url("admin/order/index","datemin=".date("Y-m-01",time()) )}');
	}else if( $(this).val() == 'all' ){
		/*全部*/
		$(location).attr('href','{:url("admin/order/index")}');
	}

});
/*提成人员下拉菜单*/
$('#bonus_name').change(function(){
	
	url = getUrl();

	
});
/*参与人员下拉菜单*/
$('#person_name').change(function(){

	url = getUrl();

});
/*副本下拉菜单*/
$('#game_name').change(function(){

	url = getUrl();

});
/*单子状态下拉菜单*/
$('#status_name').change(function(){

	url = getUrl();

});
/* 搜索按钮点击事件 */
$('#lookup').click(function(){
	
	url = getUrl();

});

});

/*获取url的函数,参数为需要传递的url参数*/
function getUrl(){
	let datemin = $('#datemin').val() ? $('#datemin').val() : '';
	let datemax = $('#datemax').val() ? $('#datemax').val() : '';
	let areainfo = $('#areainfo').val() ? $('#areainfo').val() : '';
	let bonus_name = $('#bonus_name').val() ? $('#bonus_name').val() : '';
	let person_name = $('#person_name').val() ? $('#person_name').val() : '';
	let game_name = $('#game_name').val() ? $('#game_name').val() : '';
	let status_name = $('#status_name').val() ? $('#status_name').val() : '';
	let url = "{:url('admin/order/index')}".split('.html')[0];
	
	if( datemin ) url += '/datemin/' + datemin;
	if( datemax ) url += '/datemax/' + datemax;
	if( areainfo ) url += '/areainfo/' + areainfo;
	if( bonus_name ) url += '/bonus_name/' + bonus_name;
	if( person_name ) url += '/person_name/' + person_name;
	if( game_name ) url += '/game_name/' + game_name;
	if( status_name ) url += '/status_name/' + status_name;

	$(location).attr('href',url);	
}
// console.log("{:url('admin/order/index')}".split('.html')[0])
// console.log(location.pathname)

</script>